.topbar {
   background-color: #e5e5e5;
   position: relative;
   // .topbar-component {
   //    display: inline;
   // }
   .element {
      position: relative;
      width: 33.33%;
      display: inline-block;
   }

   .center {
      position: absolute;
      margin-top: 2em;
      height: 100%;
   }
   // .left{
   // }
   // .right{
   //    margin-left: 66.66%;
   // }
   // .center{
   //    margin-left: 33.33%;
   // }
}
