@import './elements/TopBar.less';
@import './elements/NavBar.less';
@import './elements/SideBar.less';
@import './elements/SidebarCard.less';
@import './views/Album.less';
@import './views/Artist.less';
@import './views/Songs.less';
@import './views/View.less';

html {
  height: 100%;

  body {
    margin: 0;
    height: inherit;
    font-family: sans-serif;

    #app {
      height: inherit;

      .App {
        height: inherit;
        display: flex;

        .bottom {
          width: 100%;
          align-items: stretch;
          display: flex;
          padding-top: 105px;
        }
      }
    }
  }
}
