.infopane {
   background-color: @light-gray;
   border-radius: 2px;
   margin: 5px;
   padding: 1em;
   text-align: center;
   order: 2;
   width: 33%;

   p {
      margin: 3px;
   }

   .progress {
      display: flex;

      span:first-child {
         margin-right: 0.5em;
      }

      span:last-child {
         margin-left: 0.5em;
      }

      .slider {
         flex: 1;
      }
   }
}
