.playpausepane {
   // order: 1;

   .button-container {
      display: table;

      .button-cell {
         display: table-cell;
         vertical-align: middle;
         margin: 10px;

         .rounded-button {
            border-radius: 50%;
            margin: 5px;
            outline: none;
         }

         .rounded-button:hover {
            background-color: @hover-gray;
         }

         .rounded-button:active {
            background-color: @dark-gray;
         }

         .play-button {
            width: 4em;
            height: 4em;
            border-style: none;
            background-color: transparent;
            border: solid @outline-gray 3px;
         }

         .nav-button {
            width: 3em;
            height: 3em;
            border-style: none;
            background-color: transparent;
            border: solid @outline-gray 3px;
         }
      }
   }
}
