.playpausepane {
  // order: 1;
  .button-container {
    display: table;
    margin-left: 1em;

    .button-cell {
      display: table-cell;
      vertical-align: middle;
      margin: 10px;
      color: @outline-gray;
      padding: 0 0.5em;
      border-radius: 50%;
      cursor: pointer;
      -webkit-app-region: no-drag;

      .big-button {
        font-size: 2em;
      }

      .button {
        font-size: 1.5em;
      }
    }
  }
}
