.searchpane {
   position: relative;
   top: 0;
   width: 70%;
   margin-top: 1px;
   margin-left: auto;
   display: block;
   margin-right: auto;

   .search-container {
      border-radius: 5px;
      background-color: #efefef;
      padding: 3px;

      i {}

      input[type=text] {
         border: none;
         outline: none;
         padding: 0.5em 0.65em;
         background: transparent;
      }
   }
}
