.search-container {
   border-radius: 5px;
   background-color: #efefef;
   padding: 3px;

   i {}

   input[type=text] {
      border: none;
      outline: none;
      padding: 0.5em 0.65em;
      background: transparent;
   }
}
