.window-buttons {
   float: right;
   position: absolute;
   top: 0;
   right: 0;

   button {
      width: 1.1em;
      height: 1.1em;
      border-radius: 50%;
      border-style: none;
      margin: 5px;
      margin-left: 0px;
   }
   .minimize{
      outline: none;
      background-color: #9e9e9e;
   }
   .enlarge{
      outline: none;
      background-color: #9e9e9e;
   }
   .minimize:hover{
      background-color: #33c748;
   }
   .enlarge:hover{
      background-color: #fdbc40;
   }
   .minimize:active{
      background-color: #209a32;
   }
   .enlarge:active{
      background-color: #be8d2f;
   }
   .close{
      outline: none;
      background-color: #fc5753;
   }

   .close:active{
      background-color: #bf4744;
   }
}
